footer {
    background: $primary;
    color: $solidWhite;
    padding: 75px;

    .footerFlexContainer {
        display: flex;
        justify-content: space-between;
    }
}

.footerLogo h4 {
    color: $solidWhite;
}

.footerNav {
    width: 40%;

    nav {
        display: flex;
        justify-content: space-between;
    }

    h5 {
        color: $solidWhite;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    i {
        margin: 0 10px;
    }
}
