//skip link
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

//announcements
.announcements {
    text-align: center;
    padding: 10px 0;
}

//nav bar
.navBar {
    background-color: $solidWhite;
    position: sticky;
    //👇 for sticky elements, you always need to stick it to something 
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    input[type=checkbox] {
        opacity: 0;
        // 👇 to get it off the page and have its footprint gone
        position: absolute;
        //📝: CANT use display:none, since it'll wipe it completely and it doesnt exist

        &:checked ~ .slideOutNav {
            left: 0;
        }
    }

    .menuButton {
        cursor: pointer;
    }
}

.searchCart {
    display: flex;
    
    .menuIcon,
    .bag {
        margin-right: 15px;
    }

    .menuIcon {
        display: flex;
    }

    .bag {
        display: flex;
    }

    .counter {
        display: flex;
        align-items: center;

        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            border-radius: 50%;
            color: $solidWhite; 
            text-align: center;
        }
    }
}

//slide out nav
.slideOutNav {
    background-color: $primary;
    position: fixed;
    top: 0;
    left: -506px;
    height: 100vh;
    //👇 accounting for mobile widths, making our own wrappers
    //max width of 506pxs, if screen is higher than 506px then the width is 100% of the screen
    width: 100%;
    max-width: 506px;
    padding: 35px 50px;
    transition: 0.75s;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.mainMenu {
    a {
        font-family: $headingFont;
        font-size: 1.6rem;
        line-height: 2.5rem;
        // 👇 another way to write rgba..instead of all the numbers
        color: rgba($color: $solidWhite, $alpha: 1);
        transition: 0.3s;

        &:hover,
        &:focus {
            color: rgba($color: $solidWhite, $alpha: 0.5);
        }
    }
}

.menuClose {
    color: $solidWhite;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;

}