//skip link
.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $solidWhite;
    color: black;
    z-index: 10;

    &:focus {
        left: 0;
    }
}

//announcements
.announcements {
    text-align: center;
    padding: 10px 0;
}

//nav bar
.navBar {
    background-color: $solidWhite;
    position: sticky;
    //👇 for sticky elements, you always need to stick it to something 
    top: 0;
    border-top: 1px solid rgba(8, 75, 109, 0.08);
    border-bottom: 1px solid rgba(8, 75, 109, 0.08);

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }

    input[type=checkbox] {
        opacity: 0;
        // 👇 to get it off the page and have its footprint gone
        position: absolute;
        //📝: CANT use display:none, since it'll wipe it completely and it doesnt exist
    }
}

.searchCart {
    display: flex;
    align-items: center;
    
    .menuIcon,
    .bag {
        margin-right: 15px;
    }

    .menuIcon {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .bag {
        display: flex;
    }

    .counter {
        display: flex;
        align-items: center;

        p {
            width: 24px;
            height: 24px;
            background-color: $primary;
            border-radius: 50%;
            color: $solidWhite; 
            text-align: center;
        }
    }
}

//slide out nav
.slideOutNav {
    background-color: $primary;
}