//import our font families
@font-face {
    font-family: "Jakarta Sans";
    src: 
    url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff'),
    url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf'),
    url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2');
    font-weight: normal;
}

/* importing Jakarta Sans font in bold */
@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff'),
    url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2'),
    url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Young Serif';
    src: url('../fonts/youngserif/YoungSerif-Regular.otf');
}

html {
    font-size: 125%;
}

body {
    font-family: $bodyFont;
    font-weight: normal;
    color: $primary;
}

h1, h2, h3, h4, h5 {
    font-family: $headingFont;
    font-weight: normal;
    color: $primary;
    margin: 0;
}

//set the heading font sizes
h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    // font-size: 2.7rem;
    font-size: 0.7rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-family: $bodyFont;
    font-weight: bold;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 0.7rem;
}

.smallCopy {
    font-size: 0.6rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.2rem;
}

